<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
<title>Manage Items</title>
</head>

<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li>CRUD Example</li>
			<li class="active">Items</li>
		</ol>

		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<span class="title">Items</span>
				<div class="description">This is an example of how to manage
					items using the basic CREATE, RETRIEVE, UPDATE and DELETE
					operations.</div>
			</div>

			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">

						<!-- TITLE -->
						<div class="card-header">
							<div class="card-title">
								<div class="title">List Items</div>
							</div>
						</div>
						
						<!-- CONTENT -->
						<div class="card-body">
							<div th:if="*{param.delete}" class="alert alert-success"> 
								<p th:text="|Item '${param.delete[0]}' deleted!|"></p>
				            </div>
							<table class="datatable table table-striped">
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Active</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item : ${items}">
										<td>
											<a href="#" th:href="@{|/item/view/${item.id}|}"
												th:text="|${item.name}|">Mary Smith</a>
										</td>
										<td>
											<a href="#" th:href="@{|/item/view/${item.id}|}"
												 th:text="|${item.description}|">Some description</a>
										</td>
										<td>
											<a href="#" th:href="@{|/item/view/${item.id}|}"
												 th:text="|${item.active}|">True</a>
										</td>
										<td>
											<a th:href="@{/item/edit/}+${item.id}">
												<span class="badge">Edit</span></a>
											<a th:href="@{/item/delete/}+${item.id}" class="delete">
												<span class="badge">Delete</span></a>
										</td>
									</tr>
								</tbody>
							</table>

							<a th:href="@{/item/create/}" class="btn btn-success">New Item</a>
															
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
