<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
<title>Manage Items</title>
</head>

<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<div class="row content-container">
			<nav class="navbar navbar-default navbar-fixed-top navbar-top">
				<div class="container-fluid">
					<div class="navbar-header"  layout:fragment="custom-navbar-header">
						<button type="button" class="navbar-expand-toggle">
							<i class="fa fa-bars icon"></i>
						</button>
						<ol class="breadcrumb navbar-breadcrumb">
							<li>CRUD Example</li>
							<li class="active">Items</li>
						</ol>
						<button type="button"
							class="navbar-right-expand-toggle pull-right visible-xs">
							<i class="fa fa-th icon"></i>
						</button>
					</div>
				</div>
			</nav>
		</div>


		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<span class="title">Items</span>
				<div class="description">This is an example of how to manage
					items using the basic CREATE, RETRIEVE, UPDATE and DELETE
					operations.</div>
			</div>

			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">

						<!-- TITLE -->
						<div class="card-header">
							<div class="card-title">
								<div class="title">List Items</div>
							</div>
						</div>
						
						<!-- CONTENT -->
						<div class="card-body">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Description</th>
										<th>Checked</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item : ${items}">
										<th scope="row" th:text="${item.id}">1</th>
										<td><a href="#" th:href="@{|/item/view/${item.id}|}"
											th:text="|${item.name}|">Mary Smith</a></td>
										<td th:text="${item.description}">Some description</td>
										<td th:text="${item.checked}">True</td>
									</tr>
								</tbody>
							</table>
							
							<button type="button" class="btn btn-primary"
								onclick="@{/admin/post/create">New Item</button>
								
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
