<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="/fragments/scripts :: head" />

<body class="flat-blue">
	<div class="app-container">
		<div class="row content-container">
			<nav class="navbar navbar-default navbar-fixed-top navbar-top">
				<div class="container-fluid">
					<div class="navbar-header" layout:fragment="custom-navbar-header">

						<button type="button" class="navbar-expand-toggle">
							<i class="fa fa-bars icon"></i>
						</button>

						<ol th:replace="this :: breadcrumb"
							class="breadcrumb navbar-breadcrumb" />

						<button type="button"
							class="navbar-right-expand-toggle pull-right visible-xs">
							<i class="fa fa-th icon"></i>
						</button>

					</div>

					<ul class="nav navbar-nav navbar-right" id="navbar-section">
						<button type="button"
							class="navbar-right-expand-toggle pull-right visible-xs">
							<i class="fa fa-times icon"></i>
						</button>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-expanded="false"><i
								class="fa fa-comments-o"></i></a>
							<ul class="dropdown-menu animated fadeInDown">
								<li class="title">Notification <span
									class="badge pull-right">0</span>
								</li>
								<li class="message">No new notification</li>
							</ul></li>
						<li class="dropdown danger"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-expanded="false"><i class="fa fa-star-half-o"></i> 4</a>
							<ul class="dropdown-menu danger  animated fadeInDown">
								<li class="title">Notification <span
									class="badge pull-right">4</span>
								</li>
								<li>
									<ul class="list-group notifications">
										<a href="#">
											<li class="list-group-item"><span class="badge">1</span>
												<i class="fa fa-exclamation-circle icon"></i> new
												registration</li>
										</a>
										<a href="#">
											<li class="list-group-item"><span class="badge success">1</span>
												<i class="fa fa-check icon"></i> new orders</li>
										</a>
										<a href="#">
											<li class="list-group-item"><span class="badge danger">2</span>
												<i class="fa fa-comments icon"></i> customers messages</li>
										</a>
										<a href="#">
											<li class="list-group-item message">view all</li>
										</a>
									</ul>
								</li>
							</ul></li>
						<li class="dropdown profile"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-expanded="false" sec:authentication="principal.fullName">Emily
								Hart <span class="caret"></span>
						</a>
							<ul class="dropdown-menu animated fadeInDown">
								<li class="profile-img"><img
									th:src="${session.pictureBase64}"
									src="../img/profile/picjumbo.com_HNCK4153_resize.jpg"
									class="profile-img" alt="" /></li>
								<li>
									<div class="profile-info">

										<h4 class="username" sec:authentication="principal.fullName">Emily
											Hart</h4>
										<p sec:authentication="name">emily_hart@email.com</p>
										<div class="btn-group margin-bottom-2x" role="group">

											<form sec:authorize="isAuthenticated()" id="frmlogout"
												th:action="@{/login?logout}" method="post"
												class="form-inline">
												<button type="button" class="btn btn-default"
													onclick="window.location.href='/user/profile'">
													<i class="fa fa-user"></i> Profile
												</button>
												<button type="button" class="btn btn-default"
													onclick="document.getElementById('frmlogout').submit(); return false;">
													<i class="fa fa-sign-out"></i> Logout
												</button>
											</form>
										</div>
									</div>
								</li>
							</ul></li>
					</ul>
				</div>
			</nav>

			<div class="side-menu sidebar-inverse">
				<nav class="navbar navbar-default" role="navigation">
					<div class="side-menu-container">
						<div class="navbar-header">
							<a class="navbar-brand" th:href="@{/}">
								<div class="icon fa fa-paper-plane"></div>
								<div class="title">IFSkills</div>
							</a>
							<button type="button"
								class="navbar-expand-toggle pull-right visible-xs">
								<i class="fa fa-times icon"></i>
							</button>
						</div>
						<ul class="nav navbar-nav">
							<!-- Dropdown-->
							<li class="panel panel-default dropdown"><a
								data-toggle="collapse" href="#CRUD-example"> <span
									class="icon fa fa-coffee"></span><span class="title">Item</span>
							</a> <!-- Dropdown level 1 -->
								<div id="CRUD-example" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a href="/item/list">List</a></li>
										</ul>
									</div>
								</div></li>
							<!-- Dropdown-->
							<li class="panel panel-default dropdown"><a
								data-toggle="collapse" href="#dropdown-classes"> <span
									class="icon glyphicon glyphicon-book"></span><span
									class="title">Courses</span>
							</a> <!-- Dropdown level 1 -->
								<div id="dropdown-classes" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a
												sec:authorize="hasAnyRole('ROLE_TRAINER', 'ROLE_ADMIN')"
												href="/course/create">Create</a></li>
											<li><a href="/course/list">List</a></li>
										</ul>
									</div>
								</div></li>
							<!-- Dropdown-->
							<li class="panel panel-default dropdown"><a
								data-toggle="collapse" href="#menu-profile"> <span
									class="icon fa fa-user"></span><span class="title">Members</span>
							</a> <!-- Dropdown level 1 -->
								<div id="menu-profile" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a href="/profile/search">List</a></li>
										</ul>
									</div>
								</div></li>

							<!-- Dropdown-->
							<li class="panel panel-default dropdown"><a
								sec:authorize="hasRole('ROLE_ADMIN')" data-toggle="collapse"
								href="#dropdown-applications"> <span
									class="icon glyphicon glyphicon-inbox"></span><span
									class="title">Applications</span>
							</a> <!-- Dropdown level 1 -->
								<div id="dropdown-applications" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a href="/applications/list">List</a></li>
										</ul>
									</div>
								</div></li>

							<!-- Dropdown-->
							<li class="panel panel-default dropdown"><a
								data-toggle="collapse" href="#menu-article"> <span
									class="icon glyphicon glyphicon-book"></span><span
									class="title">Articles</span>
							</a> <!-- Dropdown level 1 -->
								<div sec:authorize="hasRole('ROLE_TRAINER')" id="menu-article"
									class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a href="/article/new">Create</a></li>
										</ul>
									</div>
								</div>
								<div id="menu-article" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a href="/article/list">List</a></li>
										</ul>
									</div>
								</div></li>
							<!-- Dropdown-->
							<!-- Author: Felipe 
								  Date: 21/04/2016  
								  Description: Added chances to the permission, as an visitor or user can see the list of ads-->
							<li class="panel panel-default dropdown"><a
								data-toggle="collapse" href="#menu-jobAd"> <span
									class="icon glyphicon glyphicon-briefcase"></span><span
									class="title">Job Ad</span>
							</a> <!-- Dropdown level 1 -->
								<div id="menu-jobAd" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a
												sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_TRAINER')"
												href="/job/create">Create</a></li>
											<li><a
												sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"
												href="/job/list">List</a></li>
											<li><a sec:authorize="hasAnyRole('ROLE_ADMIN')"
												href="/job/approve">Approve</a></li>
										</ul>
									</div>
								</div></li>
							<!-- Dropdown-->
							<li class="panel panel-default dropdown"><a
								data-toggle="collapse" href="#menu-post"> <span
									class="icon fa fa-coffee"></span><span class="title">Post</span>
							</a> <!-- Dropdown level 1 -->
								<div id="menu-post" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="nav navbar-nav">
											<li><a
												sec:authorize="hasAnyRole('ROLE_USER')"
												href="/post/create">Create</a></li>
											<li><a href="/post/list">List</a></li>
										</ul>
									</div>
								</div></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</nav>
			</div>
			<!-- Main Content -->
			<div class="container-fluid">
				<div layout:fragment="content"></div>
			</div>
		</div>

		<footer class="app-footer">
			<div class="wrapper">
				<span class="pull-right"><span th:text="#{main.version}" />
					<a href="#"> <i class="fa fa-long-arrow-up"></i>
				</a> </span> <span th:text="#{main.copyright}" />
			</div>
		</footer>

		<div th:include="/fragments/scripts :: javascripts" />

	</div>
</body>

</html>
