<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
<title th:text="#{profile.title}" />

<!-- include libraries(jQuery, bootstrap) -->
<script type="text/javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
<script type="text/javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- include summernote css/js-->
<link href="summernote.css" rel="stylesheet"/>
<script src="summernote.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li th:text="#{profile.breadcrumb-1}" />
			<li class="active" th:text="#{profile.breadcrumb-2}" />
		</ol>


		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<span class="title" th:text="#{profile.title}" />
				<div class="description" th:text="#{profile.title.description}"></div>
			</div>

			<div id="summernote">Hello Summernote</div>
			
			
			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">
								<div class="title" th:text="${readonly}?#{profile.view}" />
							</div>
						</div>
						<div class="card-body">

							<div th:if="${message}" class="alert alert-success">
								<p th:text="${message}" />
							</div>

							<form th:object="${user}" id="profileForm" method="get">

								<input type="hidden" th:field="*{id}" />

								<div class="form-group" th:if="*{picture != null}">
									<div class="col-xs-6 col-md-4">
										<li class="profile-img"><img th:src="*{pictureBase64}"
											th:height="291px" th:width="305px"
											src="../img/profile/picjumbo.com_HNCK4153_resize.jpg"
											class="profile-img" alt="" /></li>
									</div>
								</div>

								<div class="col-xs-12 col-md-8">
									<div class="form-group"
										th:classappend="${#fields.hasErrors('fullName')}? 'has-error'">
										<label for="ProfileName" th:text="#{user.fullName}" /> <input
											type="text" class="form-control" id="ProfileName"
											th:field="*{fullName}" placeholder="Profile name"
											th:readonly="${readonly}" /> <span
											th:if="${#fields.hasErrors('fullName')}"
											th:errors="*{fullName}" th:class="help-block" />
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('email')}? 'has-error'">
										<label for="profileEmail" th:text="#{profile.email}" /> <input
											class="form-control" id="profileEmail" th:field="*{email}"
											placeholder="Profile Email" th:readonly="${readonly}" /> <span
											th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
											th:class="help-block" />
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('address.street')}? 'has-error'">
										<label for="profileStreet" th:text="#{address.street}" /> <input
											type="text" class="form-control datepicker"
											id="profileStreet"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{address.street}}" th:readonly="${readonly}" />
										<span th:if="${#fields.hasErrors('address.street')}"
											th:errors="*{{address.street}}" th:class="help-block" />
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('address.number')}? 'has-error'">
										<label for="profileNumber" th:text="#{address.number}" /> <input
											type="text" class="form-control datepicker"
											id="profileNumber"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{address.number}}" th:readonly="${readonly}" />
										<span th:if="${#fields.hasErrors('address.number')}"
											th:errors="*{{address.number}}" th:class="help-block" />
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('address.complement')}? 'has-error'">
										<label for="profileNumber" th:text="#{address.complement}" />
										<input type="text" class="form-control datepicker"
											id="profileComplement"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{address.complement}}" th:readonly="${readonly}" />
										<span th:if="${#fields.hasErrors('address.complement')}"
											th:errors="*{{address.complement}}" th:class="help-block" />
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('address.place.description')}? 'has-error'">
										<label for="profileCity"
											th:text="#{address.place.description}" /> <input type="text"
											class="form-control datepicker" id="profileCity"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{address.place.description}}"
											th:readonly="${readonly}" /> <span
											th:if="${#fields.hasErrors('address.place.description')}"
											th:errors="*{{address.place.description}}"
											th:class="help-block" />
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('address.place.parentPlace.description')}? 'has-error'">
										<label for="profileEstate"
											th:text="#{address.place.parentPlace.description}" /> <input
											type="text" class="form-control datepicker"
											id="profileEstate"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{address.place.parentPlace.description}}"
											th:readonly="${readonly}" /> <span
											th:if="${#fields.hasErrors('address.place.parentPlace.description')}"
											th:errors="*{{address.place.parentPlace.description}}"
											th:class="help-block" />
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('address.place.parentPlace.parentPlace.description')}? 'has-error'">
										<label for="profileParents"
											th:text="#{address.place.parentPlace.parentPlace.description}" />
										<input type="text" class="form-control datepicker"
											id="profileParents"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{address.place.parentPlace.parentPlace.description}}"
											th:readonly="${readonly}" /> <span
											th:if="${#fields.hasErrors('address.place.parentPlace.parentPlace.description')}"
											th:errors="*{{address.place.parentPlace.parentPlace.description}}"
											th:class="help-block" />
									</div>
																	
									<div class="form-group"
										th:classappend="${#fields.hasErrors('isPrivate')}? 'has-error'">
										
										<input
											type="checkbox" class="form-control" id="chkIsPrivate"
											th:field="*{isPrivate}" placeholder="Private Profile"
											th:readonly="${readonly}" />
										
										<label  for="checkbox-1" th:text="#{user.isPrivate}"> 
    										Private profile
	                                    </label> 
										
										<span
											th:if="${#fields.hasErrors('isPrivate')}"
											th:errors="*{isPrivate}" th:class="help-block" />
	                                </div>
                                
									
									<a onclick="javascript:history.back()" class="btn btn-danger"
										th:if="!${param.success}"> <span
										th:text="${readonly}?#{navigation.back}" />
									</a>

								</div>


							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
