<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
<title th:text="#{course.header}" />
</head>

<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li th:text="#{course.breadcrumb-1}" />
			<li class="active" th:text="#{course.breadcrumb-2}" />
		</ol>

		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<span class="title" th:text="#{course.title}" />
				<div class="description" th:text="#{course.title.description}"></div>
			</div>

			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">

						<!-- TITLE -->
						<div class="card-header">
							<div class="card-title">
								<div class="title" th:text="#{course.list}" />
							</div>
						</div>

						<!-- CONTENT -->
						<div class="card-body">
							<div th:if="${message}" class="alert alert-success">
								<p th:text="${message}" />
							</div>
							<table class="datatable table table-striped">
								<thead>
									<tr>
										<th th:text="#{course.name}" />
										<th th:text="#{course.description}" />
										<th th:text="#{course.workload}"/>
										<th th:text="#{course.startDate}" />
										<th th:text="#{course.endDate}" />
									</tr>
								</thead>
								<tbody>
									<tr th:each="course : ${courses}">
										<td><span th:text="${course.name}" /></td>
 										<!-- <td><a href="#" th:href="@{|/course/view/${course.id}|}"
											th:text="|${course.type}|" /></td>-->
										<td><a href="#" th:href="@{|/course/view/${course.id}|}"
											th:text="${{course.description}}" /></td>
										
										<td><a href="#" th:href="@{|/course/view/${course.id}|}"
											th:text="${{course.workload}}" /> hours</td>
											
										<td><a href="#" th:href="@{|/course/view/${course.id}|}"
											th:text="${{course.startDate}}" /></td>
											
										<td><a href="#" th:href="@{|/course/view/${course.id}|}"
											th:text="${{course.endDate}}" /></td>
																				
										<td><a sec:authorize="hasRole('ROLE_TRAINER')" th:href="@{/course/edit/}+${course.id}" class="edit">
												<span class="badge" th:text="#{crud.action.edit}"/>
										</a><a sec:authorize="hasAnyRole('ROLE_TRAINER', 'ROLE_ADMIN')" th:href="@{/course/delete/}+${course.id}" class="delete">
												<span class="badge" th:text="#{crud.action.delete}"/>
										</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
