<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
<title th:text="#{post.title}" />
<!-- Luciane Exemplos de scripts typeahead -->
<script src="/webjars/Bootstrap-3-Typeahead/3.1.1/bootstrap3-typeahead.min.js"></script>

<!--  <script type="text/javascript">
$(document).ready(function(){
    $('input.typeahead').typeahead({
        name: 'responsible',
        prefetch: 'data/countries.json',
        limit: 10
    });
});  
</script>

<script type="text/javascript">
var substringMatcher = function(strs) {
	  return function findMatches(q, cb) {
	    var matches, substringRegex;

	    // an array that will be populated with substring matches
	    matches = [];

	    // regex used to determine if a string contains the substring `q`
	    substrRegex = new RegExp(q, 'i');

	    // iterate through the pool of strings and for any string that
	    // contains the substring `q`, add it to the `matches` array
	    $.each(strs, function(i, str) {
	      if (substrRegex.test(str)) {
	        matches.push(str);
	      }
	    });

	    cb(matches);
	  };
	};

	var responsible = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
	  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
	  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
	  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
	  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
	  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
	  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
	  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
	  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
	];

	$('#postResponsible .typeahead').typeahead({
	  hint: true,
	  highlight: true,
	  minLength: 1
	},
	{
	  name: 'responsible',
	  source: substringMatcher(responsible)
	});
</script>-->

</head>

<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li th:text="#{post.breadcrumb-1}" />
			<li class="active" th:text="#{post.breadcrumb-2}" />
		</ol>


		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<span class="title" th:text="#{post.title}" />
				<div class="description" th:text="#{post.title.description}"></div>
			</div>

			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">
								<div class="title"
									th:text="${readonly}?#{post.view}:#{post.edit}" />
							</div>
						</div>
						<div class="card-body">

							<div th:if="${message}" class="alert alert-success">
								<p th:text="${message}" />
							</div>

							<form th:object="${post}" th:action="@{/post/save}" method="post"
								id="mainForm">

								<input type="hidden" th:field="*{id}" />

								<div class="form-group"
									th:classappend="${#fields.hasErrors('body')}? 'has-error'">
									<label for="postbody" th:text="#{post.body}" /> <input
										type="text" class="form-control" id="postbody"
										th:field="*{body}" placeholder="post body"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('body')}" th:errors="*{body}"
										th:class="help-block" />
								</div>
								
								<!-- Luciane Componente Typeahead para a lista de responsible -->
								<div class="form-group"
									th:classappend="${#fields.hasErrors('responsible')}? 'has-error'">
									<label for="postResponsible" th:text="#{post.responsible}" /> <input
										type="text" class="typeahead" id="postResponsible"
										th:field="*{responsible}" placeholder="Post responsible"
										th:readonly="${readonly}" autocomplete="off"/> <span
										th:if="${#fields.hasErrors('responsible')}" th:errors="*{responsible}"
										th:class="help-block" />
								</div>
								
								<button type="submit" class="btn btn-success"
									th:if="${!readonly}" id="btSubmitForm"
									onclick="document.getElementById('mainForm').submit(); return false;"
									th:text="#{crud.action.save}" />

								<a th:href="@{/post/create/}" class="btn btn-success"
									th:if="${readonly}" th:text="#{crud.action.new}" /> <a
									th:href="@{/post/edit/}+${id}" class="btn btn-info"
									th:if="${readonly}" th:text="#{crud.action.edit}" /> <a
									th:href="@{/post/list/}" class="btn btn-danger"
									th:if="!${param.success}"> <span
									th:text="${readonly}?#{navigation.back}:#{navigation.cancel}" />
								</a> <a th:href="@{/post/list/}" class="btn btn-default"
									th:if="${param.success}" th:text="#{crud.action.list}" />

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>