<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
<title th:text="#{post.title}" />
<!-- Luciane Exemplos de scripts typeahead -->

<!--   <script type="text/javascript">
$(document).ready(function(){
    $('input.typeahead').typeahead({
        name: 'responsible',
        prefetch: 'data/countries.json',
        limit: 10
    });
});  
</script> -->



<script th:inline="javascript">
/*<![CDATA[*/

    var responsible = [[${users}]];
    console.log(responsible);

/*]]>*/
</script>

<!-- include summernote css/js-->
<link href="summernote.css" rel="stylesheet" />
<script src="summernote.js"></script>

</head>

<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li th:text="#{post.breadcrumb-1}" />
			<li class="active" th:text="#{post.breadcrumb-2}" />
		</ol>


		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<span class="title" th:text="#{post.title}" />
				<div class="description" th:text="#{post.title.description}"></div>
			</div>

			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">
								<div class="title"
									th:text="${readonly}?#{post.view}:#{post.create}" />
							</div>
						</div>
						<div class="card-body">

							<div th:if="${message}" class="alert alert-success">
								<p th:text="${message}" />
							</div>

							<form th:object="${post}" th:action="@{/post/save}" method="post"
								id="mainForm">

								<input type="hidden" th:field="*{id}" /> <input type="hidden"
									th:field="*{body}" id="postBody" />

								<div class="col-xs-12 col-md-8">
									<div class="form-group"
										th:classappend="${#fields.hasErrors('title')}? 'has-error'">
										<label th:text="#{post.titlePost}" /> <input type="text"
											class="form-control" id="PostTitle" th:field="*{title}"
											placeholder="Title" th:readonly="${readonly}" /> <span
											th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
											th:class="help-block" />
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('subject')}? 'has-error'">
										<label th:text="#{post.subject}" /> <input type="text"
											class="form-control" id="PostSubject" th:field="*{subject}"
											placeholder="Subject" th:readonly="${readonly}" /> <span
											th:if="${#fields.hasErrors('subject')}"
											th:errors="*{subject}" th:class="help-block" />
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('tags')}? 'has-error'">
										<label for="PostTags" th:text="#{post.tags}" /> <input
											type="text" class="form-control" id="postTags"
											placeholder="Post tags" th:field="*{tags}"
											th:readonly="${readonly}" data-role="tagsinput" /> <span
											th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}"
											th:class="help-block" />
									</div>

									<!-- Luciane Corpo da postagem -->
									<div class="form-group">
										<label th:text="#{post.body}" /> <span th:remove="tag"
											th:utext="${post.body}" th:if="${readonly}" />
										<!-- Chama o summernote -->
										<div class="summernote" th:if="${!readonly}" />
									</div>

									<!-- @author Luciane -->
									<div class="form-group">
										<label th:text="#{post.status}" /> <input type="checkbox"
											id="PostStatus" th:readonly="${!readonly}"
											th:checked="${true}" th:field="*{isPublic}" />
									</div>


									<!-- Luciane Componente Typeahead para a lista de responsible
									<div class="form-group" id="postResponsible"
										th:classappend="${#fields.hasErrors('responsible')}? 'has-error'">
										<label th:text="#{post.responsible}" /> <input type="text"
											class="typeahead" th:field="*{responsible}"
											placeholder="Post responsible" th:readonly="${readonly}"
											autocomplete="off" />
									</div>-->

									<table>
										<thead>
											<tr>
												<th th:text="#{comment.body}" />
											</tr>
										</thead>
										<tbody>
											<tr th:each="comment : ${comments}">
												<td><a href="#"
													th:href="@{|/comment/view/${comment.id}|}"
													th:text="|${comment}|" /></td>
											</tr>
										</tbody>
									</table>

									<!-- @author Felipe -->
									<button type="submit" class="btn btn-success"
										th:if="${!readonly}" id="btSubmitForm"
										onclick="$('#postBody').val($('.summernote').summernote('code'));document.getElementById('mainForm').submit(); return false;"
										th:text="#{crud.action.save}" />
									<!--  -->

									<a sec:authorize="hasRole('ROLE_USER')"
										th:href="@{/post/create/}" class="btn btn-success"
										th:if="${readonly}" th:text="#{crud.action.new}" /> <a
										th:href="@{/post/edit/}+${id}" class="btn btn-info"
										th:if="${readonly}" th:text="#{crud.action.edit}" /> <a
										sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"
										th:href="@{/post/delete/}+${id}" class="btn btn-danger"
										th:if="${readonly}" th:text="#{crud.action.delete}" /> <a
										th:href="@{/post/list/}" class="btn btn-primary"
										th:if="!${param.success}"> <span
										th:text="${readonly}?#{navigation.back}:#{navigation.cancel}" />
									</a> <a th:href="@{/post/list/}" class="btn btn-default"
										th:if="${param.success}" th:text="#{crud.action.list}" />
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		
	</script>
</body>

</html>