<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
<title th:text="#{post.title}" />
<!-- Luciane Exemplos de scripts typeahead -->

<!--   <script type="text/javascript">
$(document).ready(function(){
    $('input.typeahead').typeahead({
        name: 'responsible',
        prefetch: 'data/countries.json',
        limit: 10
    });
});  
</script> -->

<script type="text/javascript">

</script>

<!-- include summernote css/js-->
<link href="summernote.css" rel="stylesheet"/>
<script src="summernote.js"></script>

</head>

<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li th:text="#{post.breadcrumb-1}" />
			<li class="active" th:text="#{post.breadcrumb-2}" />
		</ol>


		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<span class="title" th:text="#{post.title}" />
				<div class="description" th:text="#{post.title.description}"></div>
			</div>

			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">
								<div class="title"
									th:text="${readonly}?#{post.view}:#{post.edit}" />
							</div>
						</div>
						<div class="card-body">

							<div th:if="${message}" class="alert alert-success">
								<p th:text="${message}" />
							</div>

							<form th:object="${post}" th:action="@{/post/save}" method="post"
								id="mainForm">

								<input type="hidden" th:field="*{id}" />
								<!-- Corpo da postagem -->
								<input type="hidden" th:field="*{body}" id="postBody" />
								<!-- Chama o summernote -->
								<div class="summernote"/>
								
								<!-- Luciane Componente Typeahead para a lista de responsible -->
								<div class="form-group"  id="postResponsible"
									th:classappend="${#fields.hasErrors('responsible')}? 'has-error'">
									<label th:text="#{post.responsible}" /> 
									<input type="text" class="typeahead"
										th:field="*{responsible}" placeholder="Post responsible"
										th:readonly="${readonly}" autocomplete="off"/> 
										
										<span th:if="${#fields.hasErrors('responsible')}" th:errors="*{responsible}"
										th:class="help-block" />
								</div>
								
								<!-- @author Felipe -->
								<button type="submit" class="btn btn-success"
                                th:if="${!readonly}" id="btSubmitForm"
                                onclick="$('#postBody').val($('.summernote').summernote('code'));document.getElementById('mainForm').submit(); return false;"
                                th:text="#{crud.action.save}" />
                                <!--  -->

								<a th:href="@{/post/create/}" class="btn btn-success"
									th:if="${readonly}" th:text="#{crud.action.new}" /> <a
									th:href="@{/post/edit/}+${id}" class="btn btn-info"
									th:if="${readonly}" th:text="#{crud.action.edit}" /> <a
									th:href="@{/post/list/}" class="btn btn-danger"
									th:if="!${param.success}"> <span
									th:text="${readonly}?#{navigation.back}:#{navigation.cancel}" />
								</a> <a th:href="@{/post/list/}" class="btn btn-default"
									th:if="${param.success}" th:text="#{crud.action.list}" />

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	


	 </script>
</body>

</html>