<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
<title th:text="#{post.header}" />
</head>

<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li th:text="#{post.breadcrumb-1}" />
			<li class="active" th:text="#{post.breadcrumb-2}" />
		</ol>

		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<span class="title" th:text="#{post.title}" />
				<div class="description" th:text="#{post.title.description}"></div>
			</div>

			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">

						<!-- TITLE -->
						<div class="card-header">
							<div class="card-title">
								<div class="title" th:text="#{post.list}" />
							</div>
						</div>

						<!-- CONTENT -->
						<div class="card-body">
							<div th:if="${message}" class="alert alert-success">
								<p th:text="${message}" />
							</div>
							<table class="datatable table table-striped">
								<thead>
									<tr>
										<th th:text="#{post.body}" />
										<th th:text="#{post.posted_on}" />
										<th th:text="#{post.user_id}" />
										<th th:text="#{post.title}" />
										<th th:text="#{post.subject}" />
									</tr>
								</thead>
								<tbody>
									<tr th:each="post : ${posts}">
										<td><a href="#" th:href="@{|/post/view/${post.id}|}"
											th:text="|${post.body}|" /></td>
										<td><a href="#" th:href="@{|/post/view/${post.id}|}"
											th:text="${#dates.format(post.postedOn, 'dd-MMM-yyyy')}" /></td>
										<td><a href="#" th:href="@{|/post/view/${post.id}|}"
											th:text="|${post.author.fullName}|" /></td>
										<td><a href="#" th:href="@{|/post/view/${post.id}|}"
											th:text="|${post.title}|" /></td>
										<td><a href="#" th:href="@{|/post/view/${post.id}|}"
											th:text="|${post.subject}|" /></td>
									</tr>
								</tbody>
							</table>
							<a th:href="@{/post/create/}" class="btn btn-success"
								id="newPostBt" th:text="#{crud.action.new}" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>