<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
<title th:text="#{article.title}" />
</head>

<!-- include libraries(jQuery, bootstrap) -->
<script type="text/javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
<script type="text/javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li th:text="#{article.breadcrumb-1}" />
			<li class="active" th:text="#{article.breadcrumb-edit}" />
		</ol>


		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<span class="title" th:text="#{article.title}" />
				<div class="description" th:text="#{article.title.description}"></div>
			</div>

			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">
								<div class="title" 
									th:text="${readonly}?#{article.view}:#{article.edit}" />
							</div>
						</div>
						<div class="card-body">

							<div th:if="${message}" class="alert alert-success">
								<p th:text="${message}" />
							</div>

							<form th:object="${article}" id="mainForm" method="post" >

								<input type="hidden" th:field="*{id}" />

								<div class="col-xs-12 col-md-8">
							<!-- Modified By: Edson Date: 24/04/2016 Description: Added hasAnyHole ('ROLE_TRAINER','ROLE_ADMIN')" -->
							
									<div sec:authorize="hasAnyRole('ROLE_TRAINER','ROLE_ADMIN')" class="form-group"
										th:classappend="${#fields.hasErrors('title')}? 'has-error'">
										<label for="Title" th:text="#{article.title}" /> <input
											type="text" class="form-control" id="ArticleTitle"
											th:field="*{title}" placeholder="Title"
											th:readonly="${readonly}" /> <span
											th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
											th:class="help-block" />
									</div>

									<div sec:authorize="hasAnyRole('ROLE_TRAINER','ROLE_ADMIN')" class="form-group"
										th:classappend="${#fields.hasErrors('body')}? 'has-error'">
										<label for="Body" th:text="#{article.body}" /> <input
											type="text" class="form-control" id="ArticleBody"
											th:field="*{body}" placeholder="Body"
											th:readonly="${readonly}" /> <span
											th:if="${#fields.hasErrors('body')}" th:errors="*{body}"
											th:class="help-block" />
									</div>

									<div sec:authorize="hasAnyRole('ROLE_TRAINER','ROLE_ADMIN')" class="form-group"
										th:classappend="${#fields.hasErrors('author')}? 'has-error'">
										<label for="Author" th:text="#{article.author}" /> <input
											type="text" class="form-control" id="ArticleAuthor"
											th:field="*{author.fullName}" placeholder="Author"
											th:readonly="${readonly}" /> <span
											th:if="${#fields.hasErrors('body')}" th:errors="*{author}"
											th:class="help-block" />
									</div>
									
								<!-- startPublishingDate  -->
									<div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group"
										th:classappend="${#fields.hasErrors('startPublishingDate')}? 'has-error'">
										<label for="startPublishingDate"
											th:text="#{article.startPublishingDate}" /> <input
											type="text" class="form-control datepicker"
											id="startPublishingDate"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{startPublishingDate}}" th:readonly="${readonly}" />
										<span th:if="${#fields.hasErrors('startPublishingDate')}"
											th:errors="*{{startPublishingDate}}" th:class="help-block" />
									</div>
									
								<!-- oldArticleDate  -->
									<div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group"
										th:classappend="${#fields.hasErrors('oldArticleDate')}? 'has-error'">
										<label for="oldArticleDate"
											th:text="#{article.oldArticleDate}" /> <input
											type="text" class="form-control datepicker"
											id="oldArticleDate"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{oldArticleDate}}" th:readonly="${readonly}" />
										<span th:if="${#fields.hasErrors('oldArticleDate')}"
											th:errors="*{{oldArticleDate}}" th:class="help-block" />
									</div>
									
								<!-- oldArticleDate  -->
									<div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group"
										th:classappend="${#fields.hasErrors('stopPublishingDate')}? 'has-error'">
										<label for="stopPublishingDate" th:text="#{article.stopPublishingDate}" />
										<input type="text" class="form-control datepicker"
											id="stopPublishingDate"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{stopPublishingDate}}" th:readonly="${readonly}" />
										<span th:if="${#fields.hasErrors('stopPublishingDate')}"
											th:errors="*{{stopPublishingDate}}" th:class="help-block" />
									</div>
									
									<button type="submit" class="btn btn-success"
										th:if="${!readonly}" id="btSubmitForm"
										onclick="document.getElementById('mainForm').submit(); return false;"
										th:text="#{crud.action.save}" />

									<a th:href="@{/article/create/}" class="btn btn-success"
										th:if="${readonly}" th:text="#{crud.action.new}" /> <a
										th:href="@{/article/edit/}+${id}" class="btn btn-info"
										th:if="${readonly}" th:text="#{crud.action.edit}" /> <a
										th:href="@{/article/list/}" class="btn btn-danger"
										th:if="!${param.success}"> <span
										th:text="${readonly}?#{navigation.back}:#{navigation.cancel}" />
									</a> 
									<a th:href="@{/article/list/}" class="btn btn-default"
										th:if="${param.success}" th:text="#{crud.action.list}" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>


</html>