<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
<title th:text="#{profile.header}" />
</head>

<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li th:text="#{article.breadcrumb-1}" />
			<li class="active" th:text="#{article.breadcrumb-2}" />
		</ol>

		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<span class="title" th:text="#{article.title}" />
				<div class="description" th:text="#{article.title.description}"></div>
			</div>

			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">

						<!-- TITLE -->
						<div class="card-header">
							<div class="card-title">
								<div class="title" th:text="#{article.list}" />
							</div>
						</div>

						<!-- CONTENT -->
						<div class="card-body">
							<div th:if="${message}"
								class="alert fresh-color alert-danger alert-dismissible fade in">
								<p th:text="${message}" />
							</div>

							<!-- 06/04/16 - Ricardo - Created search  -->
							<div class="col-xs-12">
								<div class="card">
									<div class="card-body">
										<form class="form-inline" _lpchecked="1"
											th:object="${article}" th:action="@{/article/search}"
											method="get" id="searchArticleForm">
											<div class="form-group">
												<input type="text" id="criteria" name="criteria"
													style="width: 500px" class="form-control"
													placeholder="Search for title, tag or teaser"
													required="true" />
											</div>
											<button type="submit" class="btn btn-default"
												onclick="document.getElementById('searchArticleForm').submit(); return false;"
												th:text="#{crud.action.search}">Search</button>
										</form>
									</div>
								</div>
							</div>

							<div th:fragment="resultsList"
								th:unless="${#lists.isEmpty(articles)}">
								<div th:if="${message}" class="alert alert-success">
									<p th:text="${message}" />
								</div>
								<table class="table table table-striped">
									<thead>
										<tr>
											<th th:text="#{article.title}" />
											<th th:text="#{article.body}" />
											<th th:text="#{article.author}" />
											<th th:text="#{article.teaser}" />

											<!-- 
												 * Author: Edson
												 * Date: 21/04/2016
												 * Description: Admin manage article dates
												 * @param 
												 * @return /article/manage										
											-->
											<th sec:authorize="hasRole('ROLE_ADMIN')"
												th:text="#{article.startPublishingDate}" />
											<th sec:authorize="hasRole('ROLE_ADMIN')"
												th:text="#{article.oldArticleDate}" />
											<th sec:authorize="hasRole('ROLE_ADMIN')"
												th:text="#{article.stopPublishingDate}" />
											<th sec:authorize="hasRole('ROLE_ADMIN')"
												th:text="#{article.publiclyAvailable}" />
											<th sec:authorize="hasRole('ROLE_ADMIN')"
												th:text="#{article.action}" />
										</tr>
									</thead>
									<tbody>
										<tr th:each="article : ${articles}">
											<td><a href="#"
												th:href="@{|/article/view/${article.slug}|}"
												th:text="|${article.title}|" /></td>
											<td><a href="#"
												th:href="@{|/article/view/${article.slug}|}"
												th:text="|${article.body}|" /></td>
											<td><a href="#"
												th:href="@{|/article/view/${article.slug}|}"
												th:text="|${article.author.fullName}|" /></td>
											<!-- Edward Ramos -->
											<td><a href="#"
												th:href="@{|/article/view/${article.slug}|}"
												th:text="|${article.teaser}|" /></td>
											<!-- 
												 * Author: Edson
												 * Date: 21/04/2016
												 * Description: Button for manage article dates
												 * 
												 * Changes: Edson
												 * Date: 24/04/2016
												 * Description: Only visibility for the fields	
												 *
												 *
												 *								
											-->
											<td sec:authorize="hasRole('ROLE_ADMIN')"><a href="#"
												th:href="@{|/article/view/${article.slug}|}"
												th:text="|${article.startPublishingDate}|" /></td>
											<td sec:authorize="hasRole('ROLE_ADMIN')"><a href="#"
												th:href="@{|/article/view/${article.slug}|}"
												th:text="|${article.oldArticleDate}|" /></td>
											<td sec:authorize="hasRole('ROLE_ADMIN')"><a href="#"
												th:href="@{|/article/view/${article.slug}|}"
												th:text="|${article.stopPublishingDate}|" /></td>

											<td sec:authorize="hasRole('ROLE_ADMIN')"><a href="#"
												th:href="@{|/article/view/${article.slug}|}"
												th:text="|${article.publiclyAvailable}|" /></td>

											<td sec:authorize="hasRole('ROLE_ADMIN')"><a href="#"
												th:href="@{/article/edit/}+${article.id}"> <span
													class="badge" th:text="#{article.action.manageDates}" />
											</a></td>
											<!-- 
											<td sec:authorize="hasRole('ROLE_ADMIN')"><input type="text" class="form-control datepicker" id="startPublishingDate" name="startPublishingDate" value=""/></td>
											<td sec:authorize="hasRole('ROLE_ADMIN')"><input type="text" class="form-control datepicker" id="oldArticleDate" name="old" value=""/></td>
											<td sec:authorize="hasRole('ROLE_ADMIN')"><input type="text" class="form-control datepicker" id="stopPublishingDate" name="stopPublishingDate" value=""/></td>		

											-->
										</tr>
									</tbody>
								</table>
								<!-- Author: Edson  Date:24/04/2016  Description: pages number  box -->
								<div class="bottom">
									<div class="dataTables_info" id="DataTables_Table_0_info"
										role="status" aria-live="polite">Showing 1 to 6 of 6
										entries</div>
									<div class="dataTables_paginate paging_simple_numbers"
										id="DataTables_Table_0_paginate">
										<ul class="pagination">
											<li class="paginate_button previous disabled"
												id="DataTables_Table_0_previous"><a href="#"
												aria-controls="DataTables_Table_0" data-dt-idx="0"
												tabindex="0">Previous</a></li>
											<li class="paginate_button active"><a href="#"
												aria-controls="DataTables_Table_0" data-dt-idx="1"
												tabindex="0">1</a></li>
											<li class="paginate_button next disabled"
												id="DataTables_Table_0_next"><a href="#"
												aria-controls="DataTables_Table_0" data-dt-idx="2"
												tabindex="0">Next</a></li>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
								<!-- Author: Edson  Date:24/04/2016  Description: Button New -->
								<!-- <pseudo:after></<pseudo:after> -->
								<a class="btn btn-success" href="/article/new/">New</a>
										<a onclick="javascript:history.back()" class="btn btn-danger"
											th:if="!${param.success}"> <span
											th:text="#{navigation.back}" />
										</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>