<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
<title th:text="#{article.title}" />

<!-- include summernote css/js-->
<link href="summernote.css" rel="stylesheet"/>
<script src="summernote.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li th:text="#{article.breadcrumb-1}" />
			<li class="active" th:text="#{article.breadcrumb-3}" />
		</ol>


		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<!-- <span class="title" th:text="#{article.title}" /> -->
				<!-- <div class="description" th:text="#{article.title.description}"></div> -->
			</div>

			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<!-- <div class="card-header">
							<div class="card-title">
								<div class="title"
									th:text="${readonly}?#{article.view}:#{article.info}" />
							</div>
						</div> -->
						<div class="card-body">

							<div th:if="${message}" class="alert alert-success">
								<p th:text="${message}" />
							</div>

							<form th:object="${article}" th:action="@{/article/save}" method="post"
								id="articleForm" enctype="multipart/form-data">

								<input type="hidden" th:field="*{id}" />
								
								<input type="hidden" th:field="*{body}" id="articleBody" />
                                       
									<div class="col-xs-6 col-md-4">
									
										<li th:if="${picture != null}" class="profile-img">
										<img th:src="*{pictureBase64}"
											th:height="291px" th:width="305px"
											src="../img/profile/picjumbo.com_HNCK4153_resize.jpg"
											class="profile-img" alt="" /></li>
									</div>
									
								<div class="col-xs-12 col-md-8">
											
								<div class="form-group"
									th:classappend="${#fields.hasErrors('title')}? 'has-error'">
									<label for="ArticleTitle" th:text="#{article.title}" /> <input
										type="text" class="form-control" id="ArticleTitle"
										th:field="*{title}" placeholder="Article title"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
										th:class="help-block" />
								</div>
															
								<!-- <div class="form-group"
									th:classappend="${#fields.hasErrors('tags')}? 'has-error'">
									<label for="ArticleTags" th:text="#{article.tags}" />
									<input class="form-control" id="articleTags"
									th:field="*{tags}" placeholder="Article tags"
									th:readonly="${readonly}" /> <span
									th:if="${#fields.hasErrors('tags')}"
									th:errors="*{tags}" th:class="help-block " data-role="tagsinput" />
								</div> -->
								
								<!-- <div class="bootstrap-tagsinput">
								<span class="tag label label-info">Amsterdam<span data-role="remove"></span>
								</span> <span class="tag label label-info">Washington<span data-role="remove"></span>
								</span> <span class="tag label label-info">Sydney<span data-role="remove"></span>
								</span> <span class="tag label label-info">Beijing<span data-role="remove"></span>
								</span> <span class="tag label label-info">Cairo<span data-role="remove"></span>
								</span> <input type="text" />
								</div> -->
																
								<div class="form-group"
									th:classappend="${#fields.hasErrors('teaser')}? 'has-error'">
									<label for="ArticleTeaser" th:text="#{article.teaser}" />
									<input class="form-control" id="articleTeaser"
										th:field="*{teaser}" placeholder="Article teaser"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('teaser')}"
										th:errors="*{teaser}" th:class="help-block" />
								</div>
							   
							 <div class="form-group">
									    <label for="exampleInputFile" th:text="#{article.picture}">Picture:</label>
									  	<input type="file" id="articlePicture" name="articlePicture" />
										<p class="help-block" th:text="#{article.picture.description}">Update
										article picture</p>
							</div>
											
								<div class="summernote"/>
																																					
								<button type="submit" class="btn btn-success"
                                th:if="${!readonly}"
                                onclick="$('#articleBody').val($('.summernote').summernote('code'));document.getElementById('articleForm').submit(); return false;"
                                th:text="#{crud.action.save}" />

								<a th:href="@{/article/create/}" class="btn btn-success"
									th:if="${readonly}" th:text="#{crud.action.new}" /> 
								<a th:href="@{/article/edit/}+${id}" class="btn btn-info"
									th:if="${readonly}" th:text="#{crud.action.edit}" /> 
								<a th:href="@{/}" class="btn btn-danger"
									th:if="!${param.success}"> <span
									th:text="${readonly}?#{navigation.back}:#{navigation.cancel}" />
								</a> 
								<a th:href="@{/article/list/}" class="btn btn-default"
									th:if="${param.success}" th:text="#{crud.action.list}" />
							 	</div>	
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>