<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
<title th:text="#{article.title}" />
</head>

<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li th:text="#{article.breadcrumb-1}" />
			<li class="active" th:text="#{article.breadcrumb-3}" />
		</ol>


		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<span class="title" th:text="#{article.title}" />
				<div class="description" th:text="#{article.title.description}"></div>
			</div>

			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">
								<div class="title"
									th:text="${readonly}?#{article.view}:#{article.info}" />
							</div>
						</div>
						<div class="card-body">

							<div th:if="${message}" class="alert alert-success">
								<p th:text="${message}" />
							</div>

							<form th:object="${article}" th:action="@{/article/save}" method="post"
								id="mainForm">

								<input type="hidden" th:field="*{id}" />

								<div class="form-group"
									th:classappend="${#fields.hasErrors('title')}? 'has-error'">
									<label for="ArticleTitle" th:text="#{article.title}" /> <input
										type="text" class="form-control" id="ArticleTitle"
										th:field="*{title}" placeholder="Article title"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
										th:class="help-block" />
								</div>
								
									<div class="form-group"
									th:classappend="${#fields.hasErrors('keywords')}? 'has-error'">
									<label for="ArticleKeywords" th:text="#{article.keywords}" />
									<input class="form-control" id="articleKeywords"
										th:field="*{keywords}" placeholder="Article keywords"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('keywords')}"
										th:errors="*{keywords}" th:class="help-block" />
								</div>
								
								<div class="form-group"
									th:classappend="${#fields.hasErrors('teaser')}? 'has-error'">
									<label for="ArticleTeaser" th:text="#{article.teaser}" />
									<input class="form-control" id="articleTeaser"
										th:field="*{teaser}" placeholder="Article teaser"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('teaser')}"
										th:errors="*{teaser}" th:class="help-block" />
								</div>
											
								<div class="summernote"></div>												
																
								<!-- <div class="form-group"
									th:classappend="${#fields.hasErrors('body')}? 'has-error'">
									<label for="body" th:text="#{article.body}" />
									<input class="form-control" id="articleBody"
										th:field="*{body}" placeholder="Article body"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('body')}"
										th:errors="*{body}" th:class="help-block" />
								</div> -->
																							
							    <div class="form-group" th:if="*{picture != null}">
									<div class="col-xs-6 col-md-4">
										<li class="profile-img"><img th:src="*{pictureBase64}"
											th:height="291px" th:width="305px"
											src="../img/profile/picjumbo.com_HNCK4153_resize.jpg"
											class="profile-img" alt="" /></li>
									</div>
								</div>
																
								<button type="submit" class="btn btn-success"
									th:if="${!readonly}"
									onclick="document.getElementById('mainForm').submit(); return false;"
									th:text="#{crud.action.save}" />

								<a th:href="@{/article/create/}" class="btn btn-success"
									th:if="${readonly}" th:text="#{crud.action.new}" /> 
								<a th:href="@{/article/edit/}+${id}" class="btn btn-info"
									th:if="${readonly}" th:text="#{crud.action.edit}" /> 
								<a th:href="@{/article/list/}" class="btn btn-danger"
									th:if="!${param.success}"> <span
									th:text="${readonly}?#{navigation.back}:#{navigation.cancel}" />
									</a> 
								<a th:href="@{/article/list/}" class="btn btn-default"
									th:if="${param.success}" th:text="#{crud.action.list}" />

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>