<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
<title th:text="#{user.header}">User Profile</title>
</head>
<body>
	<div layout:fragment="content">

		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li th:text="#{user.breadcrumb-1}">Profile</li>
		</ol>


		<div class="side-body">
			<div class="page-title">
				<span class="title" th:text="#{user.title}">User Profile</span>
				<div class="description" th:text="#{user.title.description}">Here
					you will find all relevant user information</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">
								<div class="title" th:text="#{user.profile}">Basic User
									Information</div>
							</div>
						</div>
						<div class="card-body">

							<form th:object="${user}" th:action="@{/user/save}" method="post"
								id="frmProfile" enctype="multipart/form-data">


								<input type="hidden" th:field="*{id}" />

								<div class="row example">
									<!-- Edson - 03-04-2016 - Created th:if="*{!showProfileDetails}" -->
									<div class="col-xs-6 col-md-4" th:if="!${user.privateProfile}"
										th:if="*{!showProfileDetails}">
										<li th:if="${picture != null}" class="profile-img"><img
											th:src="*{pictureBase64}" th:height="291px" th:width="305px"
											src="../img/profile/picjumbo.com_HNCK4153_resize.jpg"
											class="profile-img" alt="" /></li>
									</div>
									<!-- Edson - 03-04-2016 - Created th:if="*{!showProfileDetails}" -->
									<div class="col-xs-12 col-md-8" th:if="*{!showProfileDetails}">
										<div class="form-group">
											<label for="exampleInputFullName" th:text="#{user.fullname}">Full
												Name:</label> <input type="text" class="form-control"
												id="userProfileFullName" th:field="*{fullName}"
												placeholder="Informe o nome completo" />

										</div>
										<!-- Edson - 03-04-2016 - Created th:if="*{!showProfileDetails}" -->
										<div class="form-group" th:if="!${user.privateProfile}"
											th:if="*{!showProfileDetails}">
											<label for="exampleInputEmail" th:text="#{user.email}">Email:</label>
											<input type="email" class="form-control"
												id="userProfileEmail" th:field="*{email}"
												placeholder="Informe o email" />
										</div>
										<!-- Edson - 03-04-2016 - Created th:if="*{!showProfileDetails}" -->
										<div class="form-group" th:if="!${user.privateProfile}"
											th:if="*{!showProfileDetails}">
											<label for="exampleInputPassword" th:text="#{user.password}">Password:</label>
											<input type="password" class="form-control"
												id="userProfilePassword" th:field="*{password}"
												placeholder="Informe a senha" />
										</div>
										<div sec:authorize="hasRole('ROLE_USER')">
											<a th:href="@{/application/create/}+${user.id}"
												for="trainerApplication" th:text="#{applications.fill}">Fill
												form:</a>
										</div>
									</div>
								</div>
								<!-- Edson - 03-04-2016 - Created th:if="*{!showProfileDetails}" -->
								<div class="form-group" th:if="!${user.privateProfile}"
									th:if="*{!showProfileDetails}">
									<label for="exampleInputFile" th:text="#{user.picture}">Picture:</label>
									<input type="file" id="userProfilePic" name="userProfilePic" />
									<p class="help-block" th:text="#{user.picture.description}">Update
										profile picture</p>
								</div>


								<!-- Edson - 03-04-2016 - Created checkbox for private profile -->
								<div class="checkbox1 checkbox-light">
									<input type="checkbox" id="checkbox-2"
										th:field="${user.privateProfile}" /> <label
										for="checkbox-2" th:text="#{item.active}" />
								</div>

								<button type="submit" class="btn btn-primary"
									onclick="document.getElementById('frmProfile').submit(); return false;"
									th:text="#{crud.action.save}">Save</button>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

</html>