<!DOCTYPE html>
<!-- Author: Luciane 
	Date: 14/04/2016  
	Description: Page form.html
-->
<html lang="en" layout:decorator="layouts/main">

<head>
<title th:text="#{job.title}" />
</head>

<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li th:text="#{job.breadcrumb-1}" />
			<li class="active" th:text="#{job.breadcrumb-3}" />
		</ol>


		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<span class="title" th:text="#{job.title}" />
				<div class="description" th:text="#{job.title.description}"></div>
			</div>

			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">
								<div class="title"
									th:text="${readonly}?#{job.view}:#{job.info}" />
							</div>
						</div>
						<div class="card-body">

							<div th:if="${message}" class="alert alert-success">
								<p th:text="${message}" />
							</div>

							<form th:object="${job}" th:action="@{/job/save}" method="post"
								id="mainForm">

								<input type="hidden" th:field="*{id}" />

								<div class="form-group"
									th:classappend="${#fields.hasErrors('description')}? 'has-error'">
									<label for="JobDescription" th:text="#{job.description}" /> <input
										type="text" class="form-control" id="JobDescription"
										th:field="*{description}" placeholder="Job Description"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
										th:class="help-block" />
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('tags')}? 'has-error'">
									<label for="jobTags" th:text="#{job.tags}" />
									<input class="form-control" id="jobTags"
										th:field="*{tags}" placeholder="Job Tags"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('tags')}"
										th:errors="*{tags}" th:class="help-block" />
								</div>
								
								<div class="form-group"
									th:classappend="${#fields.hasErrors('requirements')}? 'has-error'">
									<label for="JobRequirements" th:text="#{job.requirements}" /> <input
										type="text" class="form-control" id="JobRequirements"
										th:field="*{requirements}" placeholder="Job Requirements"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('requirements')}" th:errors="*{requirements}"
										th:class="help-block" />
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('businessArea')}? 'has-error'">
									<label for="JobBusinessArea" th:text="#{job.businessArea}" /> <input
										type="text" class="form-control" id="JobBusinessArea"
										th:field="*{businessArea}" placeholder="Job Business Area"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('businessArea')}" th:errors="*{businessArea}"
										th:class="help-block" />
								</div>
								
								<!--<div class="form-group"
									th:classappend="${#fields.hasErrors(' employer.id')}? 'has-error'">
									<label for="JobEmployer" th:text="#{job.employer}" /> <input
										type="text" class="form-control" id="JobEmployer"
										th:field="*{employer.id}" placeholder="Job Employer"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('employer.id')}" th:errors="*{employer}"
										th:class="help-block" />
								</div>
								
								<div class="form-group" 
										th:classappend="${#fields.hasErrors('address.number')}? 'has-error'">
										<label for="JobNumber" th:text="#{address.number}" /> <input
											type="text" class="form-control datepicker"
											id="jobNumber"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{address.number}}" th:readonly="${readonly}" />
										<span th:if="${#fields.hasErrors('address.number')}"
											th:errors="*{{address.number}}" th:class="help-block" />
									</div>
									
									<div class="form-group" 
										th:classappend="${#fields.hasErrors('address.complement')}? 'has-error'">
										<label for="profileNumber" th:text="#{address.complement}" />
										<input type="text" class="form-control datepicker"
											id="profileComplement"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{address.complement}}" th:readonly="${readonly}" />
										<span th:if="${#fields.hasErrors('address.complement')}"
											th:errors="*{{address.complement}}" th:class="help-block" />
									</div>
									
									<div class="form-group" 
										th:classappend="${#fields.hasErrors('address.place.description')}? 'has-error'">
										<label for="jobCity"
											th:text="#{address.place.description}" /> <input type="text"
											class="form-control datepicker" id="jobCity"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{address.place.description}}"
											th:readonly="${readonly}" /> <span
											th:if="${#fields.hasErrors('address.place.description')}"
											th:errors="*{{address.place.description}}"
											th:class="help-block" />
									</div>
									
									<div class="form-group" 
										th:classappend="${#fields.hasErrors('address.place.parentPlace.description')}? 'has-error'">
										<label for="jobEstate"
											th:text="#{address.place.parentPlace.description}" /> <input
											type="text" class="form-control datepicker"
											id="jobEstate"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{address.place.parentPlace.description}}"
											th:readonly="${readonly}" /> <span
											th:if="${#fields.hasErrors('address.place.parentPlace.description')}"
											th:errors="*{{address.place.parentPlace.description}}"
											th:class="help-block" />
									</div>
									
									<div class="form-group" 
										th:classappend="${#fields.hasErrors('address.place.parentPlace.parentPlace.description')}? 'has-error'">
										<label for="jobParents"
											th:text="#{address.place.parentPlace.parentPlace.description}" />
										<input type="text" class="form-control datepicker"
											id="jobParents"
											th:class="${readonly}? 'form-control' : 'form-control datepicker'"
											th:field="*{{address.place.parentPlace.parentPlace.description}}"
											th:readonly="${readonly}" /> <span
											th:if="${#fields.hasErrors('address.place.parentPlace.parentPlace.description')}"
											th:errors="*{{address.place.parentPlace.parentPlace.description}}"
											th:class="help-block" />
									</div>-->
									

								<div class="form-group"
									th:classappend="${#fields.hasErrors('educationLevelRequired')}? 'has-error'">
									<label for="JobEducationLevelRequired" th:text="#{job.educationLevelRequired}" /> <input
										type="text" class="form-control" id="JobBusinessArea"
										th:field="*{educationLevelRequired}" placeholder="Job Education Level Required"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('educationLevelRequired')}" th:errors="*{educationLevelRequired}"
										th:class="help-block" />
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('benefits')}? 'has-error'">
									<label for="JobBenefits" th:text="#{job.benefits}" /> <input
										type="text" class="form-control" id="JobBenefits"
										th:field="*{benefits}" placeholder="Job Benefits"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('benefits')}" th:errors="*{benefits}"
										th:class="help-block" />
								</div>
								
								<div class="form-group"
									th:classappend="${#fields.hasErrors('contactInfo')}? 'has-error'">
									<label for="JobContactInfo" th:text="#{job.ContactInfo}" /> <input
										type="text" class="form-control" id="JobBenefits"
										th:field="*{contactInfo}" placeholder="Job ContactInfo"
										th:readonly="${readonly}" /> <span
										th:if="${#fields.hasErrors('contactInfo')}" th:errors="*{contactInfo}"
										th:class="help-block" />
								</div>
								
								<button type="submit" class="btn btn-success"
									th:if="${!readonly}"
									onclick="document.getElementById('mainForm').submit(); return false;"
									th:text="#{crud.action.save}" />

								<!--<a th:href="@{/job/create/}" class="btn btn-success"
									th:if="${readonly}" th:text="#{crud.action.new}" /> -->
								
								<a th:href="@{/job/delete/}+${id}" class="btn btn-danger"
									th:if="${readonly}" th:text="#{crud.action.delete}" />
								
								<a th:href="@{/job/list/}" class="btn btn-info"
									th:if="!${param.success}"> <span
									th:text="${readonly}?#{navigation.back}:#{navigation.cancel}" />
									</a> 
								<a th:href="@{/job/list/}" class="btn btn-default"
									th:if="${param.success}" th:text="#{crud.action.list}" />

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>