<!DOCTYPE html>
<!-- Author: Luciane 
	Date: 14/04/2016  
	Description: Page list.html
-->
<html lang="en" layout:decorator="layouts/main">

<head>
<title th:text="#{job.header}" />
</head>

<body>
	<div layout:fragment="content">

		<!-- BREADCRUMB -->
		<ol class="breadcrumb navbar-breadcrumb" th:fragment="breadcrumb">
			<li th:text="#{job.breadcrumb-1}" />
			<li class="active" th:text="#{job.breadcrumb-2}" />
		</ol>

		<div class="side-body">
			<!-- PAGE HEADER -->
			<div class="page-title">
				<span class="title" th:text="#{job.title}" />
				<div class="description" th:text="#{job.title.description}"></div>
			</div>

			<!--  BODY -->
			<div class="row">
				<div class="col-xs-12">
					<div class="card">

						<!-- TITLE -->
						<div class="card-header">
							<div class="card-title">
								<div class="title" th:text="#{job.list}" />
							</div>
						</div>

						<!-- CONTENT -->
						<div class="card-body">
							<div th:if="${message}" class="alert alert-success">
								<p th:text="${message}" />
								<p th:text="${message2}" />
								<p th:text="${message3}" />
								
							</div>

							<!-- tentativa de colocar o search -->
							<div class="col-xs-12">
								<div class="card">
									<div class="card-body">
										<form class="form-inline" _lpchecked="1" th:object="${job}"
											th:action="@{/job/search}" method="get" id="searchJobForm">
											<div class="form-group">
												<input type="text" id="criteria" name="criteria"
													style="width: 500px" class="form-control"
													placeholder="Search for all properties of job"
													required="true" alt="#{job.search.criteria}"/>
											</div>
											<button type="submit" class="btn btn-default"
												onclick="document.getElementById('searchJobForm').submit(); return false;"
												th:text="#{crud.action.search}">Search</button>
										</form>
									</div>
								</div>
							</div>


							<table class="table table-striped">
								<thead>
									<tr>
										<th th:text="#{job.description}" />
										<th th:text="#{job.businessArea}" />
										<th th:text="#{job.contactInfo}" />
										<th th:text="#{job.benefits}" />
									</tr>
								</thead>
								<tbody>
									<tr th:each="job : ${jobs}">
										<td><a href="#" th:href="@{|/job/view/${job.id}|}"
											th:text="${{job.description}}" /></td>
										<td><a href="#" th:href="@{|/job/view/${job.id}|}"
											th:text="${{job.businessArea}}" /></td>
										<td><a href="#" th:href="@{|/job/view/${job.id}|}"
											th:text="${{job.contactInfo}}" /></td>
										<td><a href="#" th:href="@{|/job/view/${job.id}|}"
											th:text="${{job.benefits}}" /></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
